body {
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  color: rgb(245, 252, 252);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  gap: 20px;
}

h1 {
  margin: 0;
}

.calculator {
  width: 254px;
  height: 400px;
  border: solid #aaa5ab 5px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

.display {
  height: 120px;
  display: flex;
  justify-content: end;
  align-items: end;
  padding-right: 10px;
  font-size: 36px;
  font-weight: bold;
  background-color: #222;
  border-radius: 10px;
  box-sizing: border-box;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  width: 100%;
  height: 50px;
  background-color: #333333;
  color: #fdfdfd;
  border-radius: 10px;
  border: 0;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 0%, 56%);
  transition: 0.20s;
}

button:active {
  background-color: hsl(0, 0%, 76%);
}

.gray {
  background-color: hsl(0, 0%, 65%);
  color: #080808;
}

.gray:hover {
  background-color: hsl(0, 0%, 45%);
  transition: 0.20s;
}

.gray:active {
  background-color: hsl(0, 0%, 85%);
}

.orange {
  background-color: hsl(36, 100%, 52%);
  font-size: larger;
}

.orange:hover {
  background-color: hsl(36, 100%, 42%);
  transition: 0.20s;
}

.orange:active {
  background-color: hsl(36, 100%, 62%);
}

.zero {
  grid-column: span 2;
  border-radius: 10px;
  text-align: left;
  padding-left: 20px;
}
