body {
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  color: rgb(245, 252, 252);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

.container {
  width: 254px;
  height: 500px;
  border: solid #aaa5ab 5px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  gap: 5px;
  padding: 10px;
  padding-bottom: 35px;
}

.display {
  height: 120px;
  display: flex;
  justify-content: end;
  align-items: end;
  padding-right: 10px;
  font-size: 56px;
  font-weight: bold;
}

button {
  width: 50px;
  height: 50px;
  background-color: #333333;
  color: #fdfdfd;
  border-radius: 100%;
  border: 0px;
  margin: 3px;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 0%, 56%);
  transition: 0.20s;
}

button:active{
  background-color: hsl(0, 0%, 76%);
}

.gray{
    background-color: hsl(0, 0%, 65%);
    color: #080808;

}

.gray:hover {
  background-color: hsl(0, 0%, 45%);
  transition: 0.20s;
}

.gray:active{
  background-color: hsl(0, 0%, 85%);
}

.orange{
    background-color: hsl(36, 100%, 52%);
    font-size: larger;
}

.orange:hover {
  background-color: hsl(36, 100%, 42%);
  transition: 0.20s;
}

.orange:active{
  background-color: hsl(36, 100%, 62%);
}

.zero {
    width: 115px;
    border-radius: 50px;
    text-align: left;
    padding-left: 20px;
}

